.head{
    background-image: url('../B12A01-landing-launchpad/Assets/Hero-bg.png');
    width: 1440px;
    height: 998px;
    margin: 0 auto;
    justify-content: center;
    text-align: center;
    
    
    


}


.navigation-bar ul {
    justify-content: space-between;
    list-style-type: none;
    display: flex;
    padding-top: 50px;
    margin-left: 150px;
    margin-right: 150px;
}
#logo{
    font-size: 34px;
    font-weight: bold;

}
#button:hover{
   background-color: brown;
}
    

#button{
    
    border-radius: 5px;
    padding: 12px;
    text-align: center;
   background-color: #4E47FF;
   color: white;
   font-size: 24px;
   cursor: pointer;
}
.head-title{
    display: inline-block;
    justify-content: center;
    
    text-align: center;
    padding-top: 309px;
}
.head-title h1{
    font-size: 65px;
    font-weight: bold;
}
/* body design here  */
.action{
    width: 1140px;
    height: 328px;
    display: flex;
    justify-content: space-between ;
    margin: 0 auto;
    margin-top: 116px;
    align-items: center;
   
}
 .action-description h1{
    font-size: 42px;
    font-weight: bold;
 }
 .action-description p{
    font-size: 24px;
    color: #252432;
 }
#action-img{
     border-radius: 48px;
}

/* Action desing part */
.centered-title{
    width: 1140px;
    height: 306px;
    margin: 0 auto;
    background-color: rgba(78, 71, 255, 0.1);
   padding: 40px;
    margin-top: 116px;
    border-radius: 48px;
}
.centere {
    display: flex;
    justify-content:space-around;

    
    

}
.title{
    text-align: center;
    font-size: 45px;
    font-weight: bold;
    
    }
    .data{
        font-weight: bold;
        font-size: 80px;
        color: #4E47FF;
    }
    .sub-title{
        display: flex;
        align-items: center;
        flex-direction: column;
    }


    /* Touch design  */
    .touch{
        width: 1140px;
        height: 632px;
        margin: 0 auto;
        margin-top: 120px;
        display: flex;
        justify-content: space-between;
        
        align-items: center;
        

    }
    .touch-section{
        display: block;
    }
    form  input[type="email"]{
        height: 70px;
    border-radius: 5px;
     
    width: 497px;
    padding: 10px 20px;
    margin-bottom: 24px; 
    display: block;
    border: none;
    background-color: aliceblue;
    }


    input::placeholder{
    font-size:20px;
}

form input[type="text"]{

 height: 70px;
    border-radius: 5px;
    
    width: 497px;
    padding: 10px 20px;
    margin-bottom: 24px; 
    display: block;
    border: none;
      background-color: aliceblue;

}

textarea{
    border-radius: 5px;
    
    width:497px;
    padding: 10px 20px;
    margin-bottom: 24px; 
    display: block;
    height: 70px;
    border: none;
      background-color: aliceblue;

}
textarea::placeholder{
    font-size: 20px;

    padding-top: 10px;
}
.touch h1{
    font-size: 97px;
    font-weight: bold;
    
}
.text{
    font-size: 20px;
    font-weight: bold;
}
#form-button:hover{
    color: aqua;
    background-color: brown;
}
#form-button{
    width: 497px;
    height: 62px;
    font-size: 24px;
    background-color: #4E47FF;
    color: white;
    border-radius: 20px;
    cursor: pointer;   
    
}

.card-section{
    width: 1140px;
    height: 342px;
    margin: 0 auto;
    margin-top: 137px;
    
}
.card-section h1{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
    
}
.card{
    width: 366px;
    height: 243px;
    
    border-radius: 14px;
    padding: 24px;
    background-color: hwb(0 93% 5%);
    
    
}
.card-container{
    display: flex;
    gap: 24px;
    
    
    justify-content: space-between;

}
.card h3{
font-size: 34px;
font: bold;

}
.card p{
    font-size: 20px;
}


.pocus-centered{
    width: 1140px;
    height: 696px;
    margin: 0 auto 
    ;
    margin-top: 237px;
    gap: 20px;
    text-align: center;
    padding: 20px;
    background-color: hsl(0, 11%, 98%);
    border: 2px solid rgb(242, 163, 107);
    border-radius: 24px;
}
.pocus-centered img{
width: 880px;
height: 364px;
display: inline-block;
border-radius: 40px;
justify-content: center;
padding-top: 20px;


}

.pocus-centered h1{
    font-size: 48px;
    font-weight: bold;
}
.pocur-descrive{
    gap: 20px;
}

.img-icon{
    display: flex;
    gap: 20px;
    
}
.img-icon img{
border-radius: 50%;
}





/* footer section design  */
 .foot{
    width: 1440px;
    height: 428px;
    background-color: oklab(95.44399999999999% 0.00308 0.00085 / 0.822);
    margin: 0 auto;
    
    
    
 }
 .foot-link ul{
    display: flex;
    justify-content: center;
    gap: 40px;
    
    
 }
 .foot-logo{
    justify-content: center;
    display: block;
    align-items: center;
    text-align: center;
 }
 .foot-logo h1{
    font-size: 85px;
    font-weight: bold;
    color: #4E47FF;
    padding-top: 50px;
 }
 a{
    text-decoration: none;
 }
 .foot-logo p{
    color:#8987A1;
 }